<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="text-align: center; font-family: Arial, sans-serif;">
    <h1>Benvenuto!</h1>
    <p>Esplora i contenuti disponibili:</p>
   <from action="/cat" method="get">
    <button type="submit">scegli gatti</button>
   </from>

   <from action="/nasa" method="get">
    <button type="submit">scegli nasa</button>
   </from>
</body>
</html>
